version: '3.8'

services:
  # API Service (Your Express App)
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    environment:
      # Override the MONGODB_URI from the .env file to use the Docker service name
      - MONGODB_URI=mongodb://mongo:27017/my-app-db
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongo
    networks:
      - app-network

  # MongoDB Service
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

# Define the network
networks:
  app-network:
    driver: bridge

# Define the volume for data persistence
volumes:
  mongo-data:
